.abaut {
  margin-top: -25px;

      .abaut__top {
        position: relative;
          display: flex;
          justify-content: space-between;

          
          &-left {
              width: 50%;
          }
          
          &-right {
              width: 50%;
          }
      }

      .abaut__abaut-word {
        position: relative;
        font-weight: 800;
        font-size: 30px;
        margin-bottom: 60px;

          .abaut__mark {
              position: absolute;
              top: 20px;
              left: 28px;
              width: 85px;
              height: 20px;
              background-color: #fadf00;
              z-index: -1;
          }
      }

      .abaut__name {
        font-weight: 700;
        font-size: 70px;
      }

      .abaut__title {
        font-weight: 400;
        font-size: 50px;
        margin-bottom: 47px;
      }

      .abaut__text {
        font-weight: 400;
        font-size: 24px;
      }

  .abaut__img {
    position: relative;
    margin-left: 115px;
    margin-top: 10px;
    width: 714px;
    height: 611px;
  }
}
