*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;


}
.regions{
    height: 108px;
    width: 1150px;
}
.regions ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-bottom: 30px;

}
.regions ul li{
    padding-top: 20px;

}
.container{
display: flex;
flex-direction: column;

}
.map img{
    margin-top: 95px;
    width: 1150px;
    height: 450px;
    margin-bottom: -20px;
}
h3{
    padding-top: 20px;
}