
.discount__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 88px;
  margin-top: 91px;
}
.discount__item {
    width: 290px;
    min-height: 332px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
    .discount__img {
      position: relative;
      margin-bottom: 60px;
    }

    .discount__text {
      font-weight: 400;
      font-size: 20px;
    }