.add__container {
  position: relative;
  display: flex;
}

.add__product-form {
display: flex;
position: relative;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 600px;
width: 70%;
margin-right: -150px;
}


.add__product-form input {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 10px;
}

.add__product-form textarea {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin-top: 30px;
  padding: 10px;
  resize: vertical;
}

.button__add {
  width: 100px;
  height: 60px;
  border: 1px solid #ff6a00;
  border-radius: 4px;
  color: #ff6a00;
  background-color: white;
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: 20px;

  &:hover {
    background: #30922f;
    color: #fff;
    border: none;
  }
}

.add__image {
  display: flex;
  position: relative;
  padding-top: 7px;
}

.login__right-add {
margin-top: 50px;
}